PORT=3000
DATABASE_URL=postgres://sigeh_app:CHANGE_ME@localhost:5432/sigeh_db
PGHOST=localhost
PGPORT=5432
PGUSER=sigeh_app
PGPASSWORD=CHANGE_ME
PGDATABASE=sigeh_db
JWT_SECRET=CHANGE_ME_LOCAL_ONLY
JWT_EXPIRES_IN=8h
PGPOOL_MAX=10
BACKUP_DIR=./backups
BACKUP_USERNAME=admin
STANDBY_DB=sigeh_db_standby
