PORT=3000
DATABASE_URL=postgres://usuario:password@localhost:5432/sigeh_db
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=sigeh_db
JWT_SECRET=ChangeMe
JWT_EXPIRES_IN=8h
PGPOOL_MAX=10
